# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/

# Build
dist/
build/
.cache/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
Thumbs.db
.DS_Store

# Logs
*.log
storage/logs/

# Temporary
tmp/
temp/
